.login-wrapper{
    height: 100vh;
    background: linear-gradient(to bottom left,#4d71b3 ,#093c94);
    display: flex;
    justify-content: center;
    align-items: center;
}
.login-inner{
    background-color: #fff;
    color: #000;
    width: 40%;
    min-width: 400px !important;
}
.space{
    width: 4px;
    height: auto;
    display: inline-block;
}
.custom-heading{
    font-size: 72px;
    background: -webkit-linear-gradient(#4d71b3 ,#093c94);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.t{
    text-decoration: none;
}