    <section class="seller-wrapper py-5">
        <div class="container py-5 seller-inner">
          <h1 class="display-4 pb-4 fw-bold text-center text-primary">SELLER DETAIL</h1>
          
          </div>
       <div class="container w-50">
        <form action="">
            <div class="mb-3 px-5">
                <label for="Seller_id" class="form-label">Email_id</label>
                <input type="Seller_id" class="form-control" id="Seller_id" name="Seller_id">
              </div>
              
              <div class="mb-3 px-5">
                <label for="name" class="form-label"> Name </label>
                <input type="name" class="form-control" id="name"   name="name">
              </div>
              <div class="mb-3 px-5">
                  <label for="PAN" class="form-label">PAN </label>
                  <input type="PAN" class="form-control" id="PAN"   name="PAN">
                  </div>
                  <div class="mb-3 px-5">
                      <label for="GST" class="form-label">GST</label>
                      <input type="GST" class="form-control" id="GST"   name="GST">
                      </div>
                      <div class="mb-3 px-5">
                          <label for="address" class="form-label">Address</label>
                          <input type="address" class="form-control" id="address"  name="address">
                          </div>  
           </form>  
       </div>    

