<body>
    <header class='page-header'>
        <h4>Seller</h4>
    <div class="container">
    <nav>
        <ul>
            <li><a href="#"  class="logo">
                <img src="../../assets/images/Dashboard.jpg" alt="">
                <p class="pt-3 pl-1">
                    DASHBOARD
                </p>
            </a></li>
            <li><a href="seller_detail ">
                <i class="fas fa-seller detail"></i>
                <span class="nav-item">Seller Detail</span>
            </a></li>
            <li><a href="#">
                <i class="fas fa-product"></i>
                <span class="nav-item">Product Detail</span>
            </a></li>
            <li><a href="#">
                <i class="fas fa-order"></i>
                <span class="nav-item">Order</span>
            </a></li>

        </ul>


    </nav>
    
    <section class="main">
        <div class="main-top">
            <h1>Sell Across India
</h1>
            
        </div>
    </section>
</div>
</header>
</body>


