<app-navbar [isLoggedin]="LoginChecker"></app-navbar>
<div class="banner">
    <div class="container banner-wrapper py-3">
        <div class="row banner-inner">
            <div class="col-sm-6 order-2 order-sm-1">
                <h1 class="fw-bold display-4">SHOPIT!</h1>
                <p>You don't need to read this. Now that you hav decided to read it anyways, its just some random dummy
                    text to fill up the space for Bootstrap banner or hero section.</p>
                <a href="#" class="btn btn-light"> Learn More</a>
            </div>
            <div class="col-sm-6 order-1 order-sm-2 text-end">
                <img src="../../assets/images/online-shopping.png" class="img-fluid" alt="">
            </div>
        </div>
    </div>
</div>
<div class="container py-5">
    <h1 class="fw-bold display-4 pb-5 text-center custom-heading">SHOPIT!</h1>
    <div class="row">
        <div class="col-md my-3">
            <div class="card" style="width: 20rem;">
                <img class="card-img-top" src="../../assets/images/card-test-img.jpg" height="200" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Clothes</h5>
                  <p class="card-text">Some quick example text to build on the card title.</p>
                  <a href="#" class="btn btn-custom">Component Link</a>
                </div>
              </div>
        </div>
        <div class="col-md my-3">
            <div class="card" style="width: 20rem;">
                <img class="card-img-top" src="../../assets/images/card-test-img.jpg" height="200" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Jewellery</h5>
                  <p class="card-text">Some quick example text to build on the card title.</p>
                  <a href="#" class="btn btn-custom">Component Link</a>
                </div>
              </div>
        </div>
        <div class="col-md my-3">
            <div class="card" style="width: 20rem;">
                <img class="card-img-top" src="../../assets/images/card-test-img.jpg" height="200" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Footwear</h5>
                  <p class="card-text">Some quick example text to build on the card title.</p>
                  <a href="#" class="btn btn-custom">Component Link</a>
                </div>
              </div>
        </div>
    </div>
</div>
<app-footer></app-footer>